[Unit]
Description=SG Commons Uvicorn
After=network.target

[Service]
Type=simple
User=jenkins
Group=jenkins

WorkingDirectory=/opt/deployment/commons-backend

Environment="PYTHONPATH=/opt/deployment/commons-backend"
Environment="DJANGO_SETTINGS_MODULE=shikshalokam_mohini.settings"

ExecStart=/opt/deployment/commons-backend/.venv/bin/uvicorn \
    shikshalokam_mohini.asgi:application \
    --host 0.0.0.0 \
    --port 9000 \
    --workers 4

Restart=always
RestartSec=5

StandardOutput=append:/opt/deployment/commons-backend/commons.log
StandardError=append:/opt/deployment/commons-backend/commons.log

[Install]
WantedBy=multi-user.target
